# Config file for b0s (Galaxy S22 Ultra)
# This is merged with s5e9925_defconfig on build

CONFIG_MODEL_B0S=y
# CONFIG_CAMERA_RSV_V02 is not set
CONFIG_CAMERA_RSV_V03=y
CONFIG_CAMERA_CIS_GH1_OBJ=m
CONFIG_CAMERA_CIS_HM3_OBJ=m
CONFIG_CAMERA_CIS_IMX563_OBJ=m
CONFIG_CAMERA_CIS_IMX754_OBJ=m
CONFIG_CAMERA_LASER_AF_VL53L5_OBJ=m
CONFIG_SENSORS_VL53L5=m
CONFIG_SENSORS_VL53L5_SUPPORT_UAPI=y
CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE=y
CONFIG_EXYNOS_DECON_LCD_S6E3HAE=m
CONFIG_SUPPORT_BRIGHTDOT_TEST=y
CONFIG_SENSORS_VL53L5_SLSI=y
CONFIG_EPEN_WACOM_WEZ02=m
CONFIG_SAMSUNG_UWB=m
CONFIG_UWB_SR100=y
CONFIG_SEC_UWB_LOGGER=y
CONFIG_SEC_NFC=n
