# Config file for g0s (Galaxy S22+)
# This is merged with s5e9925_defconfig on build

CONFIG_MODEL_G0S=y
CONFIG_USB_NET_AX8817X=m
CONFIG_USB_NET_AX88179_178A=m
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=y
CONFIG_TCP_CONG_WESTWOOD=m
CONFIG_TCP_CONG_HTCP=m
CONFIG_DEFAULT_BIC=y
CONFIG_DEFAULT_TCP_CONG="bic"
CONFIG_CAMERA_RSV_V02=y
# CONFIG_CAMERA_RSV_V03 is not set
CONFIG_CAMERA_RSV_V02=y
CONFIG_CAMERA_CIS_3J1_OBJ=m
CONFIG_CAMERA_CIS_2LA_OBJ=m
CONFIG_CAMERA_CIS_2LD_OBJ=m
CONFIG_CAMERA_CIS_IMX374_OBJ=m
CONFIG_CAMERA_CIS_3K1_OBJ=m
CONFIG_EXYNOS_DECON_LCD_S6E3FAC=m
CONFIG_CHARGER_PCA9481=m
CONFIG_MAX77705_USE_EXTRA_FW=y
CONFIG_SAMSUNG_UWB=m
CONFIG_UWB_SR100=y
CONFIG_SEC_UWB_LOGGER=y
CONFIG_SEC_NFC=n
