# ExtremeKernel config file for building recovery kernel
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config

# Set custom kernel version
CONFIG_LOCALVERSION="-ExtremeKernel-TWRP"
# CONFIG_F2FS_REPORT_FAKE_KERNEL_VERSION is not set

# Set SELinux to permissive mode and disable auditing
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE=y
# CONFIG_AUDIT is not set

# Disable SR100 UWB chip
# CONFIG_SAMSUNG_UWB is not set
# CONFIG_UWB_SR100 is not set
# CONFIG_SEC_UWB_LOGGER is not set

# Disable other useless features
# CONFIG_BPF is not set
# CONFIG_BPF_SYSCALL is not set
# CONFIG_ARCH_WANT_DEFAULT_BPF_JIT is not set
# CONFIG_BPF_JIT_ALWAYS_ON is not set
# CONFIG_BPF_JIT_DEFAULT_ON is not set
# CONFIG_ANDROID_BINDERFS is not set
# CONFIG_DDAR is not set
# CONFIG_SDP is not set
# CONFIG_MST_TEEGRIS is not set
# CONFIG_MST_V2 is not set
# CONFIG_MST_SUPPORT_GPIO is not set
# CONFIG_MST_LDO is not set
# CONFIG_MST_ARCH_EXYNOS is not set


# Disable WLAN/Wi-Fi
# CONFIG_WLAN is not set
# CONFIG_BCM_DHD_WLAN is not set
# CONFIG_BROADCOM_WIFI is not set 
# CONFIG_R0S_WIRELESS is not set


# Disable NPU
# CONFIG_VISION_SUPPORT is not set
# CONFIG_VISION_CORE is not set
# CONFIG_VISION_CORE_M is not set
# CONFIG_VISION_UNITTEST is not set
# CONFIG_EXYNOS_NPU is not set
# CONFIG_EXYNOS_NPU_DRAM_FW_LOG_BUF is not set
# CONFIG_EXYNOS_NPU_PUBLISH_NPU_BUILD_VER is not set

# Disable cameras
# CONFIG_SUPPORT_BRIGHTDOT_TEST is not set
# CONFIG_SENSORS_VL53L5_SLSI is not set
# CONFIG_CAMERA_RSV_V02 is not set
# CONFIG_CAMERA_RSV_V03 is not set
# CONFIG_CAMERA_CIS_GH1_OBJ is not set
# CONFIG_CAMERA_CIS_HM3_OBJ is not set
# CONFIG_CAMERA_CIS_IMX563_OBJ is not set
# CONFIG_CAMERA_CIS_IMX754_OBJ is not set
# CONFIG_CAMERA_LASER_AF_VL53L5_OBJ is not set
# CONFIG_SENSORS_VL53L5 is not set
# CONFIG_SENSORS_VL53L5_SUPPORT_UAPI is not set
# CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE is not set

# Optimize for size instead of performance
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set

# EOF
