# Config file for unified target
# This is merged with s5e9925_defconfig on build

CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=y
CONFIG_TCP_CONG_CUBIC=y
CONFIG_TCP_CONG_WESTWOOD=m
CONFIG_TCP_CONG_HTCP=m
CONFIG_DEFAULT_BIC=y
CONFIG_DEFAULT_TCP_CONG="bic"
CONFIG_USB_NET_AX8817X=m
CONFIG_USB_NET_AX88179_178A=m
CONFIG_DEBUG_GPIO_SETTING=y
CONFIG_IPC_LOGGING=m
CONFIG_IPC_LOG_MINIDUMP_BUFFERS=0
CONFIG_GENERIC_TRACER=y

# USDM Panel
CONFIG_DRM_PANEL_MCD_COMMON=m
CONFIG_USDM_PANEL_OLED_COMMON=m
CONFIG_USDM_PANEL=m
CONFIG_USDM_PANEL_S6E3FAC=m
CONFIG_USDM_MDNIE=y
CONFIG_USDM_PANEL_SYSFS=y
CONFIG_USDM_PANEL_DIMMING=y
CONFIG_USDM_PANEL_LPM=y
CONFIG_USDM_PANEL_SELF_DISPLAY=y
CONFIG_USDM_PANEL_AOD_BL=y
CONFIG_USDM_FACTORY_GCT_TEST=y
CONFIG_USDM_FACTORY_CCD_TEST=y
CONFIG_USDM_FACTORY_ECC_TEST=y
CONFIG_USDM_PANEL_DPUI=y
CONFIG_USDM_PANEL_DISPLAY_MODE=y
CONFIG_USDM_PANEL_DEBUG=y
CONFIG_USDM_PANEL_MASK_LAYER=y
CONFIG_USDM_FACTORY_DSC_CRC_TEST=y
CONFIG_USDM_PANEL_RCD=y
CONFIG_USDM_PANEL_ID_READ_REG_04=y
CONFIG_USDM_PANEL_ID_READ_BY_HSDT=y
CONFIG_USDM_PANEL_JSON=y
CONFIG_USDM_ADAPTIVE_MIPI=y
CONFIG_SEC_PANEL_NOTIFIER_V2=m

# Unification
CONFIG_SEC_DETECT=y
CONFIG_SEC_DETECT_SYSFS=y
# CONFIG_CAMERA_RSV_V01 is not set
# CONFIG_CAMERA_RSV_V02 is not set
# CONFIG_CAMERA_RSV_V03 is not set
# CONFIG_CAMERA_RSW_V11 is not set

# R0S (Galaxy S22)
CONFIG_MODEL_R0S=y
CONFIG_R0S_WIRELESS=y
CONFIG_QRTR=m
CONFIG_QRTR_NODE_ID=1
CONFIG_QRTR_WAKEUP_MS=0
CONFIG_QRTR_MHI=m
CONFIG_MHI_BUS=m
CONFIG_MHI_BUS_MISC=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_MSM_BT_POWER=m
CONFIG_NL80211_TESTMODE=y
CONFIG_CLD_LL_CORE=y
CONFIG_CNSS2=m
CONFIG_CNSS2_QMI=y
CONFIG_BUS_AUTO_SUSPEND=y
CONFIG_CNSS_QCA6490=y
CONFIG_SEC_SS_CNSS_FEATURE_SYSFS=y
CONFIG_CNSS_UTILS=m
CONFIG_CNSS_QMI_SVC=m
CONFIG_CNSS_PLAT_IPC_QMI_SVC=m
CONFIG_CNSS_GENL=m
CONFIG_WCNSS_MEM_PRE_ALLOC=m
CONFIG_QCA_CLD_WLAN=m
CONFIG_QCOM_QMI_HELPERS=m
# CONFIG_MFD_TI_AM335X_TSCADC is not set
CONFIG_CAMERA_CIS_3J1_OBJ=m
CONFIG_CAMERA_CIS_2LA_OBJ=m
CONFIG_CAMERA_CIS_2LD_OBJ=m
CONFIG_CAMERA_CIS_IMX374_OBJ=m
CONFIG_CAMERA_CIS_3K1_OBJ=m
CONFIG_EXYNOS_DECON_LCD_S6E3FAC=m
CONFIG_CHARGER_PCA9481=m
CONFIG_MAX77705_USE_EXTRA_FW=y

# G0S (Galaxy S22+)
CONFIG_MODEL_G0S=y
CONFIG_SAMSUNG_UWB=m
CONFIG_UWB_SR100=y
CONFIG_SEC_UWB_LOGGER=y

# B0S (Galaxy S22 Ultra)
CONFIG_MODEL_B0S=y
CONFIG_CAMERA_CIS_GH1_OBJ=m
CONFIG_CAMERA_CIS_HM3_OBJ=m
CONFIG_CAMERA_CIS_IMX563_OBJ=m
CONFIG_CAMERA_CIS_IMX754_OBJ=m
CONFIG_CAMERA_LASER_AF_VL53L5_OBJ=m
CONFIG_SENSORS_VL53L5=m
CONFIG_SENSORS_VL53L5_SUPPORT_UAPI=y
CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE=y
CONFIG_EXYNOS_DECON_LCD_S6E3HAE=m
CONFIG_SUPPORT_BRIGHTDOT_TEST=y
CONFIG_SENSORS_VL53L5_SLSI=y
CONFIG_EPEN_WACOM_WEZ02=m
CONFIG_SAMSUNG_UWB=m
CONFIG_UWB_SR100=y
CONFIG_SEC_UWB_LOGGER=y

# R11S (Galaxy S23 FE)
CONFIG_MODEL_R11S=y
CONFIG_CAMERA_CIS_GN3_OBJ=m
CONFIG_CAMERA_CIS_3L6_OBJ=m
CONFIG_CAMERA_CIS_HI847_OBJ=m
CONFIG_SAMSUNG_NFC=m
CONFIG_SEC_NFC_LSI=y
CONFIG_ESE_P3_LSI=y
CONFIG_ESE_COLDRESET=y
CONFIG_MAKE_NODE_USING_PLATFORM_DEVICE=y
CONFIG_SEC_NFC_LOGGER=y
CONFIG_SEC_NFC_WAKELOCK_METHOD=2
CONFIG_SEC_NFC_LOGGER_ADD_ACPM_LOG=y
CONFIG_SEC_NFC_LOGGER_RTC_REG_ADDR=0x15920090
CONFIG_SENSORS_FINGERPRINT=m
CONFIG_FINGERPRINT_SECURE=y
CONFIG_SENSORS_FINGERPRINT_MODULE=y
CONFIG_SENSORS_FINGERPRINT_LSI=y
CONFIG_SENSORS_EL7XX=m
CONFIG_SND_SOC_TFA9878=m
CONFIG_TFA_STEREO_NODE=y
CONFIG_SENSORS_STK3A8X=m
CONFIG_IIO_ST_LSM6DSX=m
CONFIG_BMP280=m
CONFIG_USDM_PANEL_S6E3FC3=m
CONFIG_USDM_PANEL_S6E3FC5=m
