#
# near field communication configuration
#
config SAMSUNG_NFC
	tristate "Samsung NFC driver"
	default n
	help
	  Say Y here if you want to build support for NFC (Near field
	  communication) devices.
	  To compile this support as a module, choose M here: the module will
	  be called nfc.

config NFC_NXP_COMBINED
	bool "NXP COMBINED driver Feature"
	default n
	help
	  NXP Near Field Communication controller support.
	  If this feature is enabled, sn2xx driver can support various ICs
	  such as PN557, sn1xx and sn2xx.
	  For one binary, this driver should be used.

config NFC_SN2XX
	bool "NXP SN2XX Feature"
	default n
	help
	  NXP SN2XX Near Field Communication controller support
	  This option enables device driver support for the NFC.
	  It is used by many services. NFC is fully controlled using I2C
	  to communicate the AP chip.

config NFC_SN2XX_ESE_SUPPORT
	tristate "Nxp secure element protocol driver (SPI) devices"
	depends on SPI
	help
	  This enables the Secure Element driver for SNxxx based devices.
	  If unsure, say N.
	  This selects Secure Element support.
	  If you want NFC support, you should say Y here and
	  also to your specific host controller driver.

config ESE_USE_TZ_API
        bool "use tz api"
        depends on NFC_SN2XX_ESE_SUPPORT
        default n
        help
          Enable when using TZ API.
	  You should select this feature if your NFC product
          uses S.LSI AP and TZ API.
	  Say Y here to compile support for TZ API.

config CLK_ACPM_INIT
	bool "ACPM INIT"
	default n
	help
	  ACPM INIT must be called to use CLK3 in S5910.
