name: Build ExtremeKernel KSU

on: [workflow_dispatch, push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target: [r0s, g0s, b0s]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'

      - name: Set up the environment
        run: |
          sudo apt-get update
          sudo apt-get install -y git-core gnupg flex bison build-essential zip curl zlib1g-dev libc6-dev-i386 x11proto-core-dev \
          libx11-dev lib32z1-dev libgl1-mesa-dev libxml2-utils xsltproc unzip fontconfig
      - name: Build kernel
        run: |
          ./build.sh -m ${{ matrix.target }} -k y -r n -p n

      - name: Upload Kernel Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "ExtremeKRNL-2200-${{ matrix.target }}"
          path: build/out/${{ matrix.target }}/zip
